.d-program {
  margin: 73px 0px 72px 0px;
  //   font-family: 'Gotham';
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 686 742' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='371' cy='371' r='371' fill='%23D9D9D9'/%3E%3C/svg%3E%0A");
  background-position: right center;
  background-repeat: no-repeat;
  color: #002643;

  &__title {
    margin-top: 70px;
    // font-family: "Idlewild";
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
  }

  &__subtitle {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 40px;
  }

  &__desc {
    font-style: normal;
    font-weight: 350;
    font-size: 24px;
    line-height: 29px;

    span {
      display: block;
      margin: 40px 0px;
    }
  }

  &__button {
    width: 170px;
    height: 47px;
    background: #ffffff;
    border: 3px solid #002643;
    border-radius: 4px;
    font-weight: 400;
    font-size: 18px;
    line-height: 135.2%;
    text-transform: uppercase;
    margin-bottom: 34px;
  }

  &__link {
    display: block;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #00b2e2;
  }
}

// RESPONSIVE
@media (max-width: breakpoint(lg)) {
  .d-program {
    margin: 32px 0px 72px 0px;
    text-align: center;
    background-image: url("data:image/svg+xml,%3Csvg width='310' height='310' viewBox='0 0 310 310' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='155' cy='155' r='155' fill='%23D9D9D9'/%3E%3C/svg%3E%0A");
    background-position: top center;

    &__title {
      margin-top: 336px;
      margin-bottom: 10px;
      font-size: 28px;
      line-height: 34px;
    }

    &__subtitle {
      font-size: 21px;
      line-height: 25px;
      margin-bottom: 24px;
    }

    &__desc {
      font-size: 16px;
      line-height: 19px;

      span {
        margin: 24px 0px 47px 0px;
      }
    }

    &__button {
      width: 181px;
      height: 47px;
      font-size: 14px;
      line-height: 135.2%;
    }

    &__link {
      display: none;
    }
  }
}
