.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 30;

  // WIDE SCREEN STYLE
  &__big-screen {
    font-family: "Gotham";
    background-color: #fff;

    &__top {
      padding: 17px 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__search {
        display: flex;
        align-items: center;

        &__title {
          font-weight: 300;
          font-size: 16px;
          line-height: 155.2%;
          color: #002744;
          margin-right: 10px;
        }

        &__form {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;

          &__input {
            padding: 7px 40px 7px 7px;
            border: 1px solid #002643;
            border-radius: 25px;
            outline: none;
          }

          &__search-icon {
            position: absolute;
            right: 0;
            margin-right: 14px;
          }
        }
      }
    }

    &__bottom {
      background: #002643;

      &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__logo {
          width: 372px;
        }

        &__list {
          flex: 0 0 55%;
          display: flex;
          align-items: center;
          justify-content: space-between;

          li {
            a {
              font-weight: 400;
              font-size: 18px;
              line-height: 22px;
              color: #ffffff;
            }
          }
        }
      }
    }
  }
  // END WIDE SCREEN STYLE

  // SMALL SCREEN STYLE

  // responsive menu style
  &__small-screen {
    background: #002643;
    display: none;
    position: fixed;
    top: 0;
    width: 100%;

    &__box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 37px 0px 29px 0px;

      &__logo {
        width: 198px;
      }

      &__icon-box {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .icon-search {
          margin-right: 10px;

          &:hover {
            cursor: pointer;
          }
        }

        .icon-hamburger {
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  // show menu
  .dropdown-show {
    max-height: 70%;
    padding: 28px 0px;
  }

  // dropdown syle
  &__dropdown {
    // font-family: "Gotham";
    overflow: hidden;
    overflow-y: scroll;
    max-height: 0px;
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    padding: 0px;
    transition: 0.25s linear;
    z-index: 30;

    // rotate chevron icon
    .chev-rotate {
      &::after {
        transform: rotateX(180deg);
        filter: brightness(0) invert(1);
      }
    }

    // show subList
    .under-list-show {
      max-height: 300px;
    }

    &__close {
      text-align: right;

      // close menu
      .icon-close {
        &:hover {
          cursor: pointer;
        }
      }
    }

    // active link
    .set-active {
      background: #002643;
      border-bottom: none;

      .header__dropdown__main-list__has-child__label {
        color: #fff;
      }
    }

    &__main-list {
      list-style-type: none;
      width: 100%;
      padding: 0;
      margin-bottom: 40px;
      border-top: 0.5px solid #002643;

      // regular links
      &__regular {
        padding: 15px 0px;
        border-bottom: 0.5px solid #002643;
        transition: 0.25s ease-out;

        &:hover {
          background: #002643;
          cursor: pointer;
          transition: 0.25s ease-in;
        }

        &:hover a {
          color: #fff;
        }

        a {
          font-weight: 400;
          font-size: 16px;
          line-height: 145%;
          color: #002643;
          padding: 15px;
        }
      }

      // links with child list
      &__has-child {
        padding-top: 15px;
        position: relative;
        border-bottom: 0.5px solid #002643;
        transition: 0.25s ease-out;

        &:hover {
          background: #002643;
          cursor: pointer;
          transition: 0.25s ease-oin;
        }

        &:hover &__label {
          color: #fff;

          &::after {
            filter: brightness(0) invert(1);
          }
        }

        &__label {
          font-weight: 400;
          font-size: 16px;
          line-height: 145%;
          color: #002643;
          padding: 15px;

          &::after {
            content: "";
            display: inline-block;
            background-image: url("data:image/svg+xml,%3Csvg width='11' height='7' viewBox='0 0 11 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.67974 0.261936L6.07522 4.47699C5.77691 4.82624 5.22381 4.82624 4.9255 4.47699L1.32098 0.261936C1.17804 0.0963441 0.969851 0 0.746122 0C0.115331 0 -0.229584 0.713548 0.17437 1.18323L4.9255 6.74108C5.22381 7.09032 5.77691 7.09032 6.07522 6.74108L10.8263 1.18323C11.2303 0.713548 10.8823 0 10.2515 0C10.0309 0 9.81957 0.0963441 9.67663 0.261936H9.67974Z' fill='%236D6E71'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-size: cover;
            width: 11px;
            height: 7px;
            position: absolute;
            margin-top: 5px;
            right: 10px;
            transition: 0.25s linear;
          }
        }

        &__sub-list {
          max-height: 0px;
          overflow: hidden;
          width: 100px;
          margin-top: 10px;
          padding: 0;
          list-style-type: none;
          width: 100%;
          transition: 0.25s linear;

          li {
            background: #d9d9d9;
            border: 1px solid white;
            padding: 10px;

            a {
              font-weight: 400;
              font-size: 16px;
              line-height: 145%;
              color: #002643;
            }
          }
        }
      }
    }

    &__contact {
      font-weight: 350;
      font-size: 14px;
      line-height: 145%;
      color: #002643;
      margin-bottom: 10px;
    }
  }

  // search bar stlye
  .show-search-bar {
    max-height: 500px;
    padding: 141px 53px;
  }

  &__search-bar {
    // font-family: "Gotham";
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #002643;
    max-height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.25s linear;
    padding: 0px 53px;
    overflow: hidden;
    z-index: 30;

    &__form {
      position: relative;
      width: 100%;

      input {
        width: 100%;
        padding: 7px 7px 7px 40px;
        color: white;
        background-color: transparent;
        outline: none;
        border: none;
        border-bottom: 1px solid white;
      }

      &__icon-search2 {
        position: absolute;
        left: 0;
        margin-right: 10px;
      }
    }
  }

  // overlay style
  .show-overlay {
    display: block;
  }

  &__overlay {
    display: none;
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.199);
  }

  &__overlay2 {
    display: none;
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.199);
  }
}
// END SMALL SCREEN STYLE

// RESPONSIVE
@media (max-width: breakpoint(lg)) {
  .header {
    // big screen style
    &__big-screen {
      display: none;
    }

    // small screen style
    &__small-screen {
      display: block;
    }
  }
}
